<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Hands-on Lab: Complete the EDA with SQL</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.


Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [ ]:
!pip install sqlalchemy==1.4
!pip install ipython-sql
!pip install pandas

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [ ]:
%load_ext sql

In [ ]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [ ]:
%sql sqlite:///my_data1.db

In [ ]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [ ]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"** .

   

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [ ]:
import sqlite3
import pandas as pd

con = sqlite3.connect("my_data1.db")
query = "SELECT DISTINCT Launch_Site FROM SPACEXTABLE;"
pd.read_sql_query(query, con)

    Launch_Site
0   CCAFS LC-40
1   VAFB SLC-4E
2    KSC LC-39A
3  CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'KSC'

In [ ]:
import pandas as pd
import sqlite3

con = sqlite3.connect("my_data1.db")
query = """
SELECT *
FROM SPACEXTABLE
WHERE Launch_Site LIKE 'KSC%'
LIMIT 5;
"""
pd.read_sql_query(query, con)

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2017-02-19,14:39:00,F9 FT B1031.1,KSC LC-39A,SpaceX CRS-10,2490,LEO (ISS),NASA (CRS),Success,Success (ground pad)
1,2017-03-16,6:00:00,F9 FT B1030,KSC LC-39A,EchoStar 23,5600,GTO,EchoStar,Success,No attempt
2,2017-03-30,22:27:00,F9 FT B1021.2,KSC LC-39A,SES-10,5300,GTO,SES,Success,Success (drone ship)
3,2017-05-01,11:15:00,F9 FT B1032.1,KSC LC-39A,NROL-76,5300,LEO,NRO,Success,Success (ground pad)
4,2017-05-15,23:21:00,F9 FT B1034,KSC LC-39A,Inmarsat-5 F4,6070,GTO,Inmarsat,Success,No attempt

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [ ]:
import sqlite3
import pandas as pd

# Connect to your database
con = sqlite3.connect("my_data1.db")

# SQL query
query = """
SELECT SUM(PAYLOAD_MASS__KG_) AS Total_Payload_Mass
FROM SPACEXTABLE
WHERE Customer = 'NASA (CRS)';
"""

# Execute and display result
df_result = pd.read_sql_query(query, con)
print(df_result)

   Total_Payload_Mass
0               45596

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [ ]:
import sqlite3
import pandas as pd

# Connect to the database
con = sqlite3.connect("my_data1.db")

# SQL query
query = """
SELECT AVG(PAYLOAD_MASS__KG_) AS Average_Payload_Mass
FROM SPACEXTABLE
WHERE Booster_Version = 'F9 v1.1';
"""

# Execute and display result
df_result = pd.read_sql_query(query, con)
print(df_result)

   Average_Payload_Mass
0                2928.4

### Task 5

##### List the date where the succesful landing outcome in drone ship was acheived.


_Hint:Use min function_

In [ ]:
import sqlite3
import pandas as pd

# Connect to your database
con = sqlite3.connect("my_data1.db")

# SQL query to find the earliest successful drone ship landing
query = """
SELECT MIN(Date) AS First_Successful_Drone_Ship_Landing
FROM SPACEXTABLE
WHERE Landing_Outcome = 'Success (drone ship)';
"""

# Execute and display the result
df_result = pd.read_sql_query(query, con)
print(df_result)

  First_Successful_Drone_Ship_Landing
0                          2016-04-08

### Task 6

##### List the names of the boosters which have success in ground pad  and have payload mass greater than 4000 but less than 6000

In [ ]:
import sqlite3
import pandas as pd

# Connect to the database
con = sqlite3.connect("my_data1.db")

# SQL query
query = """
SELECT Booster_Version, PAYLOAD_MASS__KG_, Landing_Outcome
FROM SPACEXTABLE
WHERE Landing_Outcome = 'Success (ground pad)'
  AND PAYLOAD_MASS__KG_ > 4000
  AND PAYLOAD_MASS__KG_ < 6000;
"""

# Execute and display the result
df_result = pd.read_sql_query(query, con)
print(df_result)

  Booster_Version  PAYLOAD_MASS__KG_       Landing_Outcome
0   F9 FT B1032.1               5300  Success (ground pad)
1   F9 B4 B1040.1               4990  Success (ground pad)
2   F9 B4 B1043.1               5000  Success (ground pad)

### Task 7




##### List the total number of successful and failure mission outcomes

In [ ]:
import sqlite3
import pandas as pd

# Connect to the database
con = sqlite3.connect("my_data1.db")

# SQL query to count total successful and failed missions
query = """
SELECT Mission_Outcome, COUNT(*) AS Total_Count
FROM SPACEXTABLE
GROUP BY Mission_Outcome;
"""

# Execute and display results
df_result = pd.read_sql_query(query, con)
print(df_result)

                    Mission_Outcome  Total_Count
0               Failure (in flight)            1
1                           Success           98
2                          Success             1
3  Success (payload status unclear)            1

### Task 8



##### List all the booster_versions that have carried the maximum payload mass. Use a subquery.

In [ ]:

import sqlite3
import pandas as pd

# Connect to the database
con = sqlite3.connect("my_data1.db")

# SQL query using a subquery
query = """
SELECT Booster_Version, PAYLOAD_MASS__KG_
FROM SPACEXTABLE
WHERE PAYLOAD_MASS__KG_ = (
    SELECT MAX(PAYLOAD_MASS__KG_)
    FROM SPACEXTABLE
);
"""

# Execute and display the result
df_result = pd.read_sql_query(query, con)
print(df_result)

   Booster_Version  PAYLOAD_MASS__KG_
0    F9 B5 B1048.4              15600
1    F9 B5 B1049.4              15600
2    F9 B5 B1051.3              15600
3    F9 B5 B1056.4              15600
4    F9 B5 B1048.5              15600
5    F9 B5 B1051.4              15600
6    F9 B5 B1049.5              15600
7   F9 B5 B1060.2               15600
8   F9 B5 B1058.3               15600
9    F9 B5 B1051.6              15600
10   F9 B5 B1060.3              15600
11  F9 B5 B1049.7               15600

### Task 9


##### List the records which will display the month names, succesful landing_outcomes in ground pad ,booster versions, launch_site for the months in year 2017
**Note: SQLLite does not support monthnames. So you need to use substr(Date,6,2) for month, substr(Date,9,2) for date, substr(Date,0,5),='2017' for year.**

In [ ]:
import sqlite3
import pandas as pd
con = sqlite3.connect("my_data1.db")
query = """
SELECT
  CASE substr(Date,6,2)
    WHEN '01' THEN 'January'
    WHEN '02' THEN 'February'
    WHEN '03' THEN 'March'
    WHEN '04' THEN 'April'
    WHEN '05' THEN 'May'
    WHEN '06' THEN 'June'
    WHEN '07' THEN 'July'
    WHEN '08' THEN 'August'
    WHEN '09' THEN 'September'
    WHEN '10' THEN 'October'
    WHEN '11' THEN 'November'
    WHEN '12' THEN 'December'
  END AS Month_Name,
  substr(Date,9,2) AS Day,
  Date,
  Landing_Outcome,
  Booster_Version,
  Launch_Site
FROM SPACEXTABLE
WHERE substr(Date,0,5) = '2017'
  AND Landing_Outcome = 'Success (ground pad)'
ORDER BY substr(Date,6,2), substr(Date,9,2);
"""
df_result = pd.read_sql_query(query, con)
print(df_result)

  Month_Name Day        Date       Landing_Outcome Booster_Version  \
0   February  19  2017-02-19  Success (ground pad)   F9 FT B1031.1
1        May  01  2017-05-01  Success (ground pad)   F9 FT B1032.1
2       June  03  2017-06-03  Success (ground pad)   F9 FT B1035.1
3     August  14  2017-08-14  Success (ground pad)   F9 B4 B1039.1
4  September  07  2017-09-07  Success (ground pad)   F9 B4 B1040.1
5   December  15  2017-12-15  Success (ground pad)  F9 FT  B1035.2

    Launch_Site
0    KSC LC-39A
1    KSC LC-39A
2    KSC LC-39A
3    KSC LC-39A
4    KSC LC-39A
5  CCAFS SLC-40

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [ ]:

import sqlite3
import pandas as pd

# Connect to your database
con = sqlite3.connect("my_data1.db")

# SQL query
query = """
SELECT
  Landing_Outcome,
  COUNT(*) AS Outcome_Count
FROM SPACEXTABLE
WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY Landing_Outcome
ORDER BY Outcome_Count DESC;
"""

# Execute and display the result
df_result = pd.read_sql_query(query, con)
print(df_result)

          Landing_Outcome  Outcome_Count
0              No attempt             10
1    Success (drone ship)              5
2    Failure (drone ship)              5
3    Success (ground pad)              3
4      Controlled (ocean)              3
5    Uncontrolled (ocean)              2
6     Failure (parachute)              2
7  Precluded (drone ship)              1

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%203/LAB-String_Patterns_Sorting_Grouping.md.html">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
--!>

## <h3 align="center">  IBM Corporation 2021. All rights reserved. <h3/>